{% extends 'base.html' %}

{% block head_block %}
<title>Sign up for Account | Fact Post</title>
{% endblock %}

{% block content %}
<div class="container col m-1 p-5" style="min-height: 89vh">
	<h4 style="text-align: left;">Sign In</h4>
	<div class="container mt-5 p-3" stlye="align-items: flex-end">
		<form method="post">{% csrf_token %}
			{{ form.as_p }}
			<input class="m-3" type="submit" name="submit" value="Submit">
			<input type="reset" name="reset" value="Reset"></input>
		</form>
	</div>
</div>
{% endblock %}