{% extends 'base.html' %}

{% block head_block %}
<title>Sign up for Account | Fact Post</title>
{% endblock %}

{% block content %}
<div class="container col-6 m-1 p-5">
	<h4 style="text-align: left;">Sign In</h4>
	<div class="container mt-5 p-3" stlye="align-items: flex-end">
		<form method="post">{% csrf_token %}
			{{ form.as_p }}
			<input class="btn btn-primary mx-2" type="submit" name="Submit" value="Submit">
			<input class="btn btn-danger mx-2" type="reset" name="Reset" value="Reset">
		</form>
	</div>
</div>
{% endblock %}