{% extends 'base.html' %} {% block head %}
<title>User Profile | Pyblogs</title>
{% endblock %} {% block content %}
<div class="container col border border-info rounded m-1 p-5" style="min-height: 85vh">
  <p class="mb-3 col">
    <label for="profile_pic" class="row form-label">Profile Pic</label>
    <img class="img-fluid" src="{{ object.profile_pic.url }}" alt="Disabled input example" />
  </p>
  <p class="mb-3 col">
    <label for="username" class="row-auto form-label">Username</label>
    <input class="row-auto form-control" type="text" value="{{ object.username }}" aria-label="Disabled input example"
      disabled readonly />
  </p>

  <p class="mb-3 col justify-content-md-center">
    <label for="first_name" class="row-auto form-label">First Name</label>
    <input class="row-auto form-control" type="text" value="{{ object.first_name }}" aria-label="Disabled input example"
      disabled readonly />
  </p>

  <p class="mb-3 col justify-content-md-center">
    <label for="last_name" class="row-auto form-label">Last Name</label>
    <input class="row-auto form-control" type="text" value="{{ object.last_name }}" aria-label="Disabled input example"
      disabled readonly />
  </p>

  <p class="mb-3 col justify-content-md-center">
    <label for="email" class="row-auto form-label">Email</label>
    <input class="row-auto form-control" type="text" value="{{ object.email }}" aria-label="Disabled input example"
      disabled readonly />
  </p>

  <p class="mb-3 col justify-content-md-center">
    <label for="date_joined" class="row-auto form-label">Date Joined</label>
    <input class="row-auto form-control" type="text" value="{{ object.date_joined }}"
      aria-label="Disabled input example" disabled readonly />
  </p>

  <p class="mb-3 col justify-content-md-center">
    <label for="nick_name" class="row-auto form-label">Nick Name</label>
    <input class="row-auto form-control" type="text" value="{{ object.nick_name }}" aria-label="Disabled input example"
      disabled readonly />
  </p>

  <p class="mb-3 col justify-content-md-center">
    <label for="cell_no" class="row-auto form-label">Cell No</label>
    <input class="row-auto form-control" type="text" value="{{ object.cell_no }}" aria-label="Disabled input example"
      disabled readonly />
  </p>
  <a href="{% url 'posts:profileupdate' request.user.id %}">
    <button type="button" class="btn btn-primary px-4 mb-5">Edit</button>
  </a>
</div>
{% endblock %}